<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link href="./css/milligram/milligram.min.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/my_style.css" rel="stylesheet">
    <link href="./css/theme.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h3>Logo</h3>
      <ul class="menu">
        <li class="menu-item"><a href="./publicpages/courses.xhtml">Course Details</a></li>
        <li class="menu-item"><a href="./publicpages/contact.xhtml">Contact Us</a></li>
        <li class="menu-item"><a href="./publicpages/loginform.xhtml">Login</a></li>
      </ul>
    </header>
    <h1>Hello World</h1>
  </body>

</html>
