<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>WebApp</display-name>
    <welcome-file-list>
      <welcome-file>/views/home.html</welcome-file>
    </welcome-file-list>

    <servlet>
      <servlet-name>WebAppFrontController</servlet-name>
      <servlet-class>com.kodecamp.commons.ui.WebAppFrontController</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>WebAppFrontController</servlet-name>
      <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!-- Filter Mappings : Filters are executed in the same order they are defined here -->

    <!--    <filter>
      <filter-name>AuthenticationFilter</filter-name>
      <filter-class>com.kodecamp.filters.AuthenticationFilter</filter-class>
      <init-param>
        <param-name>EXCLUDED_PAGES</param-name>
        <param-value>
          /views/public,/css
        </param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>AuthenticationFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.kodecamp.filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    

</web-app>
